.bg-images {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.navbar-nav .nav-link {
  color: white;
}

footer {
  margin-top: 5%;
}
.header-images {
  object-fit: cover;
}

.navbar-background {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  font-family: 'Roboto Serif', serif;
  font-size: 50px;
  font-weight: bold;
  color: #C13434;
  padding-top: 5%;
}

h2 {
  text-transform: uppercase;
  font-family: 'Roboto Serif', serif;
  font-size: 35px;
  font-weight: bold;
  color: #C13434;
  padding: 2% 0 2% 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container-menu{
  background-color: #F6F2E7;
  
}

.btn {
  background-color: #893434;
  color:white;
}

/* .container-menupage {
  background-color: #F6F2E7;
  
} */
.team {
  background-color: #F6F2E7;
}

.name {
  padding-top:7%;
  margin-bottom: 0;
}
.container-menupage img {
  height: 200px;
  object-fit: cover;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  color:white
}
